In [2]:
1. variables and data types.
2. conditional and string methods.
3. list and list methods.
4. slicing and indexing.
5. loops (forloops, while).
6. list comprehenshion and matrixes.
7. Reading, writing of files and functions.
8. Dictionaries.
9. classes and objects.
10. Time and complexity analysis.
11. Introduction to Series and Dataframes.
12. Python Data Manipulation libraries (Pandas and rumpy).
13. Reading data in python (csv, xlxs, json, txt).
14. Data wrangling in python and dat joining (concat, merge, append).
15. Explanatory data analysis in python and Statistical concepts.
16. Answering business questions with python.
17. Data visualisation (Seaborn and matplotlib).
18. Data reporting.

Bonus
19. Introduction to business modelling using regressiona and time series forcasting.
20. Intoduction to machine learning using supervised and unsupervised algorithms.
21. Data strategy, data product management and Data governance.

1

In [ ]:
a = "toyin"
b = 19
###format string methods
print(f"{a} is {b} years")

In [ ]:
get_me = input('enter message: ').lower()
if get_me == "tomatoes":
    print("buy")
elif get_me == "lemon":
    print("buy")
elif get_me == "bread":
    print("buy")
else:
    print("couldn't find any")

In [ ]:
temp_value = float(input("enter temperature input value: "))
unit = input("enter unit f/c: ").lower()
if unit == "f":
    celcius = round(5/9 * (temp_value + 32), 3)
    print(f"the temperature value from {temp_value}f is {celcius}celcuis")
    
elif unit == "c":
    fahr = round(9/5 * (temp_value - 32), 3)
    print(f"the temperature value from {temp_value}c is {fahr}fahrenheit")

else:
    print("Inut not understood!!!!!")
enter temperature input value: 200
enter unit f/c: c
the temperature value from 200.0c is 302.4fahrenheit

In [ ]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
right_values = value[k+1: ]
print(right_values)

In [ ]:
value = "cynthia adams"
sub_string = input('Enter sub string values: ')
k = value.index(sub_string)
right_values = value[k-1: ]
print(right_values)

In [ ]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
left_values = value[ :k-1]
print(left_values)

In [ ]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
left_values = value[ :k-1]
print(left_values)

In [ ]:
n = "tobechukwuigia"
n.index("u")

In [ ]:
sentence = input("Enter a sentence")
word = input("Enter a word")
words = sentence.split(' ')
positions

In [ ]:
n = "tobechukwuigia"
n.index("u")

In [ ]:
programming_languages = ["JavaScript","Python","Java","Python","C++","Python"]

python_indices  = [index for (index, item) in enumerate(programming_languages) if item == "Python"]

print(python_indices)

In [ ]:
n = "tobechukwu"
p = [index for (index, item) in enumerate(n) if item == "u"]
print(p)

In [ ]:
h = "jakeson/abiba"
h[0]

In [ ]:
k = ["tope adamu", "kate milla", "femi ore"]
k[0]

In [ ]:
k[0].split()

In [ ]:
h.split()

In [ ]:
h.split("/")

In [ ]:
phone_number = "+234-825-142-2525"
b = phone_number.split("-")
d = ''.join(b)
print(d)

In [ ]:
for i in range(0, 10):
    print(i)

In [ ]:
a = [10, 15, 21, 30, 6]
for i in a:
    print(i)

In [ ]:
for n in k:
    print(n)

In [ ]:
type(k)

In [ ]:
first_name = []
second_name = []
for n in k:
    b = n.split()[0][0].upper() + n.split()[0][1:]
    d = n.split()[1][0].upper() + n.split()[1][1:]
    first_name.append(b)
    second_name.append(d)
print(first_name)
print(second_name)

In [ ]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
array_list.append(t)
print(array_list)

In [ ]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
for i in t:
    array_list.append(1)
print(array_list)

In [ ]:
array_number = [10, 15, 21, 30, 8]
add_me = 0

for i in array_number:
    add_me = i + add_me
print(add_me)

In [ ]:
a  = False
print(type(a))

In [ ]:
a = []
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == float:
       print(i)

In [ ]:
a = [i for i in range(1, 39)]
print(a)

In [ ]:
booleans = []
strings = []
integers = []
floats = []

list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == float:
        floats.append(i) 
        
    if type(i) == bool:
        booleans.append(i)
        
    elif type(i) == int:
        integers.append(i)
        
    eliif type(i) == str:
        strings.append(i)
        
print(booleans)
print(floats)
print(integers)
print(string)

In [ ]:
a = [i for i in range(1, 39)]
for num in a:
    if(num % 2) == 0:
        print(num, end=" ")

In [ ]:
array = []
for i in a:
    if i % 2 == 0:
        array.append(i)
print(array)

In [ ]:
a = ["james", "cedi", "benneth", "kola"]
b = ["tobe", "mattew", "fila", "jack"]
diff_arr = []
if len(a) == len(b):
    for i in range(0, len(a)):
        val = len(a[i]) - len(b[i])
        diff_arr.append(val)
    print(diff_arr)
else:
    print("index not same")

In [ ]:
a = "string"
len(a)

In [49]:
list_array = ["10m", "20m", "30m", "15m"]
list_array2 = ["40m", "20m", "25cm", "15cm"]
array_cm = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    ##print(split_i)
    a = "".join(split_i[2:])
    #print(a)
    if a == "cm":
        array_cm.append(i)
print(array_cm)

['25cm', '15cm']

In [51]:
lst_val = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
        k = "".join(split_i[2:])
        d = "".join(split_i[:2])
        if k == "cm":
            lst_val.append(d)
print(lst_val)

['25', '15']

In [40]:
lst_val2 = []
lst_val = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    if "c" in split_i:
        a = "".join(split_i)[:-2]
        lst_val2.append(a)
    else:
        b = "".join(split_i[:-1])
        lst_val.append(b)
print(lst_val2)
print(lst_val)

['25', '15']
['40', '20']

In [41]:
convert_cm = [round(int(i)/100, 2) for i in lst_val2]
print(convert_cm)

[0.25, 0.15]

In [42]:
meters = [int(i) for i in lst_val]
print(meters)

[40, 20]

In [52]:
for i in convert_cm:
    meters.append(i)
print(meters)

[40, 20, 0.25, 0.15]

In [ ]:
list_array

In [53]:
numb = []
for i in list_array:
    a_arr = []
    for b in i:
        a_arr.append(b)
    k = "".join(a_arr[:-1])
    numb.append(k)
print(numb)

['10', '20', '30', '15']

In [54]:
convert_numb = [int(i) for i in numb]
print(convert_numb)

[10, 20, 30, 15]

In [55]:
if len(meters) == len(convert_numb):
    for i in range(0, len(meters)):
        diff = convert_numb[i] - meters[i]
        print(f"{diff}meters")

-30meters
0meters
29.75meters
14.85meters

In [6]:
d = ["jude", "bole"]
for i in d:
    sep = []
    for k in i:
        sep.append(k)
    print(sep)

['j', 'u', 'd', 'e']
['b', 'o', 'l', 'e']

In [31]:
name = ["john", "lola", "bayo"]
ages = [30, 43, 25]

array = []
for n in name:
    a = n.split()[0][0].upper() + n.split()[0][1:]
    array.append(a)

a = array[0]
b = ages[0]

c = array[1]
d = ages[1]

e = array[2]
f = ages[2]

print(f"{a} is {b} years old")
print(f"{c} is {d} years old")
print(f"{e} is {f} years old")

John is 30 years old
Lola is 43 years old
Bayo is 25 years old