In [41]:
name = ["john", "lola", "bayo"]
ages = [30, 43, 25]

Name = []
for i in name:
    a = i[0].upper() + i.split()[0][1:]
    Name.append(a)

for n in range(len(name)):
    print(f"{Name[n]} is {ages[n]} years old")

John is 30 years old
Lola is 43 years old
Bayo is 25 years old

In [10]:
firstname = ["katie", "bicah", "lemah", "judie" ]
surname = ["tamuno"]

In [11]:
fullname = []
for j in range(len(firstname)):
    name_array = firstname[j] + " " + surname[0]
    fullname.append(name_array)
print(fullname)

['katie tamuno', 'bicah tamuno', 'lemah tamuno', 'judie tamuno']

In [3]:
import os

In [12]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E608-7F89

 Directory of C:\Users\AS\Desktop\data_analytic\pythonCodes

11/08/2022  02:46 PM    <DIR>          .
11/08/2022  02:46 PM    <DIR>          ..
11/04/2022  06:55 PM    <DIR>          .ipynb_checkpoints
11/08/2022  11:53 AM            28,861 Assignments.ipynb
11/07/2022  04:58 PM                22 dataSheets.txt
11/08/2022  12:00 PM                56 newname.txt
11/08/2022  11:58 AM               112 new_filename.txt
11/07/2022  05:08 PM               384 new_temp.txt
11/08/2022  02:46 PM             4,541 Practice.ipynb
11/08/2022  11:54 AM    <DIR>          Untitled Folder
11/08/2022  11:54 AM    <DIR>          Untitled Folder 1
               6 File(s)         33,976 bytes
               5 Dir(s)  254,180,364,288 bytes free

In [8]:
print_file = open("newname.txt", "a")
for n in fullname:
    print_file.write(f"{n}\n")

### Matrices

In [1]:
a = [["name", "age", "score"],
     ["funmi", "27", "78"],
     ["bola", "30", "90"]]

print(a[0][0])
print(a[1][0])
print(a[2][0])

name
funmi
bola

In [2]:
print(a[0][1])
print(a[1][1])
print(a[2][1])

age
27
30

In [3]:
for i in range(0, 3):
    for a in range(0, 3):
        print(a, i)

0 0
1 0
2 0
0 1
1 1
2 1
0 2
1 2
2 2

In [6]:
a = [["name", "age", "score"],
     ["funmi", "27", "78"],
     ["bola", "30", "90"]]

In [7]:
import pandas as pd
df = pd.DataFrame(a[1:], columns=a[0])
df

    name age score
0  funmi  27    78
1   bola  30    90

In [8]:
a[2][0]

'bola'

In [44]:
for i in range(0, len(a)):
    index_value = []
    for n in a:
        index_value.append(n[i])
    print(index_value)

['name', 'funmi', 'bola']
['age', '27', '30']
['score', '78', '90']

In [62]:
new_arr = []
for i in range(0, 3):
    arr = []
    for n in a:
        arr.append(n[i])
    new_arr.append(arr)
print(new_arr)

[['name', 'funmi', 'bola'], ['age', '27', '30'], ['score', '78', '90']]

In [11]:
for a in range(0, 3):
    for n in range(3, 6):
        print(a, n)

0 3
0 4
0 5
1 3
1 4
1 5
2 3
2 4
2 5

In [82]:
b = [9, 10, 11, 2, 7]

#sum any index that would give you 18

for j in range(0, len(b)):
    for d in range(j+1, len(b)):
        k = [b[j], b[d]]
        if sum(k) == 20:
            print(b[j], b[d])

9 11

In [13]:
a = [["name", "age", "score"],
     ["funmi", "27", "78"],
     ["bola", "30", "90"]]

In [14]:
a[0][2], a[1][1], a[2][0]

('score', '27', 'bola')

In [15]:
a[i]

['bola', '30', '90']

In [16]:
list_arr = [[1, 2, 4, 9],
           [9, 10, 12, 8],
           [4, 43, 11, 7]]
print(list_arr)

[[1, 2, 4, 9], [9, 10, 12, 8], [4, 43, 11, 7]]

In [17]:
new_arr = []
for i in range(0, len(list_arr[0])):
    arr = []
    for n in list_arr:
        arr.append(n[i])
    new_arr.append(arr)
print(new_arr)

[[1, 9, 4], [2, 10, 43], [4, 12, 11], [9, 8, 7]]

In [45]:
a = [["name", "age", "score"],
     ["funmi", "27", "78"],
     ["bola", "30", "90"]]

### Assignment

In [60]:
arr_list = []
for i in range(0, 3):
    for j in range(0, 3):
        k = i + j
        if (k == 2):
            arr_list.append(a[i][j])
print(arr_list)

['score', '27', 'bola']