In [2]:
1. variables and data types.
2. conditional and string methods.
3. list and list methods.
4. slicing and indexing.
5. loops (forloops, while).
6. list comprehenshion and matrixes.
7. Reading, writing of files and functions.
8. Dictionaries.
9. classes and objects.
10. Time and complexity analysis.
11. Introduction to Series and Dataframes.
12. Python Data Manipulation libraries (Pandas and rumpy).
13. Reading data in python (csv, xlxs, json, txt).
14. Data wrangling in python and dat joining (concat, merge, append).
15. Explanatory data analysis in python and Statistical concepts.
16. Answering business questions with python.
17. Data visualisation (Seaborn and matplotlib).
18. Data reporting.

Bonus
19. Introduction to business modelling using regressiona and time series forcasting.
20. Intoduction to machine learning using supervised and unsupervised algorithms.
21. Data strategy, data product management and Data governance.

SyntaxError: invalid syntax (Temp/ipykernel_2624/3370645605.py, line 1)

In [ ]:
a = float(input("enter number 1: "))

In [1]:
print("hello")
print("123" + "s")

hello
123s

In [3]:
a = 345.5
type(a)

float

In [30]:
a = "toyin"
b = 19
###format string methods
print(f"{a} is {b} years")

toyin is 19 years

In [13]:
get_me = input('enter message: ').lower()
if get_me == "tomatoes":
    print("buy")
elif get_me == "lemon":
    print("buy")
elif get_me == "bread":
    print("buy")
else:
    print("couldn't find any")

enter message: BRead
buy

In [ ]:
tem

c = 5/9 * (f + 32)
f = 9/5 * (c - 32)

In [18]:
temp_value = float(input("enter temperature input value: "))
unit = input("enter unit f/c: ").lower()
if unit == "f":
    celcius = round(5/9 * (temp_value + 32), 3)
    print(f"the temperature value from {temp_value}f is {celcius}celcuis")
    
elif unit == "c":
    fahr = round(9/5 * (temp_value - 32), 3)
    print(f"the temperature value from {temp_value}c is {fahr}fahrenheit")

else:
    print("Inut not understood!!!!!")

enter temperature input value: 200
enter unit f/c: c
the temperature value from 200.0c is 302.4fahrenheit

In [111]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
right_values = value[k+1: ]
print(right_values)

Enter substring values: h
ia adams

In [20]:
value = "cynthia adams"
sub_string = input('Enter sub string values: ')
k = value.index(sub_string)
right_values = value[k-1: ]
print(right_values)

Enter sub string values: h
thia adams

In [21]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
right_values = value[ :k+1]
print(right_values)

Enter substring values: h
cynth

In [12]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
left_values = value[ :k-1]
print(left_values)

Enter substring values: a
cynth

In [24]:
n = "tobechukwuigia"
n.index("u")

6

In [ ]:
sentence = input("Enter a sentence")
word = input("Enter a word")
words = sentence.split(' ')
positions

In [9]:
n = "tobechukwuigia"
n.index("u")

6

In [2]:
n = "tobechukwuigia"
n.index("u",9)

9

In [3]:
programming_languages = ["JavaScript","Python","Java","Python","C++","Python"]

python_indices  = [index for (index, item) in enumerate(programming_languages) if item == "Python"]

print(python_indices)

#[1, 3, 5]

[1, 3, 5]

In [11]:
n = "tobechukwu"
p = [index for (index, item) in enumerate(n) if item == "u"]
print(p)

[6, 9]

In [13]:
h = "jakeson/abiba"
h[0]

'j'

In [14]:
k = ["tope adamu", "kate milla", "femi ore"]
k[0]

'tope adamu'

In [113]:
k[0].split()

TypeError: 'int' object is not subscriptable

In [16]:
h.split()

['jakeson/abiba']

In [18]:
h.split("/")

['jakeson', 'abiba']

In [22]:
phone_number = "+234-825-142-2525"
b = phone_number.split("-")
d = ''.join(b)
print(d)

+2348251422525

In [23]:
### split is a string method
### join method is an array or list method

In [25]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
a = [10, 15, 21, 30, 6]
for i in a:
    print(i)

10
15
21
30
6

In [27]:
k[0].split()

['tope', 'adamu']

In [28]:
for n in k:
    print(n)

tope adamu
kate milla
femi ore

In [29]:
type(k)

list

In [112]:
first_name = []
second_name = []
for n in k:
    b = n.split()[0][0].upper() + n.split()[0][1:]
    d = n.split()[1][0].upper() + n.split()[1][1:]
    first_name.append(b)
    second_name.append(d)
print(first_name)
print(second_name)

TypeError: 'int' object is not iterable

In [31]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
array_list.append(t)
print(array_list)

[1, 5, 10, ['lem', 'fin', 'tan']]

In [32]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
for i in t:
    array_list.append(1)
print(array_list)

[1, 5, 10, 1, 1, 1]

In [33]:
array_number = [10, 15, 21, 30, 8]
add_me = 0

for i in array_number:
    add_me = i + add_me
print(add_me)

84

In [35]:
a  = False
print(type(a))

<class 'bool'>

In [51]:
a = []
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == float:
       print(i)

In [47]:
a = [i for i in range(1, 39)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]

In [119]:
booleans = []
strings = []
integers = []
floats = []

list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == float:
        floats.append(i) 
        
    if type(i) == bool:
        booleans.append(i)
        
    elif type(i) == int:
        integers.append(i)
        
    eliif type(i) == str:
        strings.append(i)
        
print(booleans)
print(floats)
print(integers)
print(string)

[True, False]
[19.5, 4.12]
[88, 22]
['meka', 'owen']

In [117]:
a = [i for i in range(1, 39)]
for num in a:
    if(num % 2) == 0:
        print(num, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

In [64]:
array = []
for i in a:
    if i % 2 == 0:
        array.append(i)
print(array)

TypeError: not all arguments converted during string formatting

In [4]:
a = ["james", "cedi", "benneth", "kola"]
b = ["tobe", "mattew", "fila", "jack"]
diff_arr = []
if len(a) == len(b):
    for i in range(0, len(a)):
        val = len(a[i]) - len(b[i])
        diff_arr.append(val)
    print(diff_arr)
else:
    print("index not same")

[1, -2, 3, 0]

In [5]:
a = "string"
len(a)

6

In [6]:
a = ["string"]
len(a)

1

In [15]:
list_array = ["10m", "20m", "30m", "15m"]
list_array2 = ["40m", "20m", "25cm", "15cm"]
array_cm = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    ##print(split_i)
    a = "".join(split_i[2:])
    #print(a)
    if a == "cm":
        array_cm.append(i)
print(array_cm)

['25cm', '15cm']

In [16]:
lst_val = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
        k = "".join(split_i[2:])
        d = "".join(split_i[:-2])
        if k == "cm":
            lst_val.append(d)
print(lst_val)

['25', '15']

In [40]:
lst_val2 = []
lst_val = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    if "c" in split_i:
        a = "".join(split_i)[:-2]
        lst_val2.append(a)
    else:
        b = "".join(split_i[:-1])
        lst_val.append(b)
print(lst_val2)
print(lst_val)

['25', '15']
['40', '20']

In [41]:
convert_cm = [round(int(i)/100, 2) for i in lst_val2]
print(convert_cm)

[0.25, 0.15]

In [42]:
meters = [int(i) for i in lst_val]
print(meters)

[40, 20]

In [43]:
for i in convert_cm:
    meters.append(i)
print(meters)

[40, 20, 0.25, 0.15]

In [44]:
list_array

['10m', '20m', '30m', '15m']

In [45]:
numb = []
for i in list_array:
    a_arr = []
    for b in i:
        a_arr.append(b)
    k = "".join(a_arr[:-1])
    numb.append(k)
print(numb)

['10', '20', '30', '15']

In [46]:
convert_numb = [int(i) for i in numb]
print(convert_numb)

[10, 20, 30, 15]

In [47]:
if len(meters) == len(convert_numb):
    for i in range(0, len(meters)):
        diff = convert_numb[i] - meters[i]
        print(f"{diff}meters")

-30meters
0meters
29.75meters
14.85meters

In [49]:
d = ["jude", "bole"]
for i in d:
    sep = []
    for k in i:
        sep.append(k)
    print(sep)

['j', 'u', 'd', 'e']
['b', 'o', 'l', 'e']

In [129]:
name = ["john", "lola", "bayo"]
ages = [30, 43, 25]

array = []
for n in name:
    a = n.split()[0][0].upper() + n.split()[0][1:]
    array.append(a)

a = array[0]
b = ages[0]

c = array[1]
d = ages[1]

e = array[2]
f = ages[2]

print(f"{a} is {b} years old")
print(f"{c} is {d} years old")
print(f"{e} is {f} years old")

John is 30 years old
Lola is 43 years old
Bayo is 25 years old

In [109]:
b = name[0][0]value[0:] + n.split()[0][1:]
print(b)

SyntaxError: invalid syntax (Temp/ipykernel_9312/3471608626.py, line 1)