In [2]:
1. variables and data types.
2. conditional and string methods.
3. list and list methods.
4. slicing and indexing.
5. loops (forloops, while).
6. list comprehenshion and matrixes.
7. Reading, writing of files and functions.
8. Dictionaries.
9. classes and objects.
10. Time and complexity analysis.
11. Introduction to Series and Dataframes.
12. Python Data Manipulation libraries (Pandas and rumpy).
13. Reading data in python (csv, xlxs, json, txt).
14. Data wrangling in python and dat joining (concat, merge, append).
15. Explanatory data analysis in python and Statistical concepts.
16. Answering business questions with python.
17. Data visualisation (Seaborn and matplotlib).
18. Data reporting.

Bonus
19. Introduction to business modelling using regressiona and time series forcasting.
20. Intoduction to machine learning using supervised and unsupervised algorithms.
21. Data strategy, data product management and Data governance.

SyntaxError: invalid syntax (Temp/ipykernel_2624/3370645605.py, line 1)

In [ ]:
a = float(input("enter number 1: "))

In [1]:
print("hello")
print("123" + "s")

hello
123s

In [3]:
a = 345.5
type(a)

float

In [30]:
a = "toyin"
b = 19
###format string methods
print(f"{a} is {b} years")

toyin is 19 years

In [13]:
get_me = input('enter message: ').lower()
if get_me == "tomatoes":
    print("buy")
elif get_me == "lemon":
    print("buy")
elif get_me == "bread":
    print("buy")
else:
    print("couldn't find any")

enter message: BRead
buy

In [ ]:
tem

c = 5/9 * (f + 32)
f = 9/5 * (c - 32)

In [18]:
temp_value = float(input("enter temperature input value: "))
unit = input("enter unit f/c: ").lower()
if unit == "f":
    celcius = round(5/9 * (temp_value + 32), 3)
    print(f"the temperature value from {temp_value}f is {celcius}celcuis")
    
elif unit == "c":
    fahr = round(9/5 * (temp_value - 32), 3)
    print(f"the temperature value from {temp_value}c is {fahr}fahrenheit")

else:
    print("Inut not understood!!!!!")

enter temperature input value: 200
enter unit f/c: c
the temperature value from 200.0c is 302.4fahrenheit

In [19]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
right_values = value[k+1: ]
print(right_values)

Enter substring values: h
ia adams

In [20]:
value = "cynthia adams"
sub_string = input('Enter sub string values: ')
k = value.index(sub_string)
right_values = value[k-1: ]
print(right_values)

Enter sub string values: h
thia adams

In [21]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
right_values = value[ :k+1]
print(right_values)

Enter substring values: h
cynth

In [12]:
value = "cynthia adams"
sub_string = input('Enter substring values: ')
k = value.index(sub_string)
left_values = value[ :k-1]
print(left_values)

Enter substring values: a
cynth

In [24]:
n = "tobechukwuigia"
n.index("u")

6

In [ ]:
sentence = input("Enter a sentence")
word = input("Enter a word")
words = sentence.split(' ')
positions

In [9]:
n = "tobechukwuigia"
n.index("u")

6

In [2]:
n = "tobechukwuigia"
n.index("u",9)

9

In [3]:
programming_languages = ["JavaScript","Python","Java","Python","C++","Python"]

python_indices  = [index for (index, item) in enumerate(programming_languages) if item == "Python"]

print(python_indices)

#[1, 3, 5]

[1, 3, 5]

In [11]:
n = "tobechukwu"
p = [index for (index, item) in enumerate(n) if item == "u"]
print(p)

[6, 9]

In [13]:
h = "jakeson/abiba"
h[0]

'j'

In [14]:
k = ["tope adamu", "kate milla", "femi ore"]
k[0]

'tope adamu'

In [15]:
k[0].split()

['tope', 'adamu']

In [16]:
h.split()

['jakeson/abiba']

In [18]:
h.split("/")

['jakeson', 'abiba']

In [22]:
phone_number = "+234-825-142-2525"
b = phone_number.split("-")
d = ''.join(b)
print(d)

+2348251422525

In [23]:
### split is a string method
### join method is an array or list method

In [25]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
a = [10, 15, 21, 30, 6]
for i in a:
    print(i)

10
15
21
30
6

In [27]:
k[0].split()

['tope', 'adamu']

In [28]:
for n in k:
    print(n)

tope adamu
kate milla
femi ore

In [29]:
type(k)

list

In [30]:
first_name = []
second_name = []
for n in k:
    b = n.split()[0][0].upper() + n.split()[0][1:]
    d = n.split()[1][0].upper() + n.split()[1][1:]
    first_name.append(b)
    second_name.append(d)
print(first_name)
print(second_name)

['Tope', 'Kate', 'Femi']
['Adamu', 'Milla', 'Ore']

In [31]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
array_list.append(t)
print(array_list)

[1, 5, 10, ['lem', 'fin', 'tan']]

In [32]:
t = ["lem", "fin", "tan"]
array_list = [1, 5, 10]
for i in t:
    array_list.append(1)
print(array_list)

[1, 5, 10, 1, 1, 1]

In [33]:
array_number = [10, 15, 21, 30, 8]
add_me = 0

for i in array_number:
    add_me = i + add_me
print(add_me)

84

In [35]:
a  = False
print(type(a))

<class 'bool'>

In [51]:
a = []
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == float:
       print(i)

In [47]:
a = [i for i in range(1, 39)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]

In [116]:
booleans = []
strings = []
integers = []
floats = []

list_array = [True, False, "meka", "owen", 19.5, 88.0, 4.12, 22]
for i in list_array:
    if type(i) == float:
        floats.append(i) 
        
    if type(i) == bool:
        booleans.append(i)
        
    if type(i) == int:
        integers.append(i)
        
    if type(i) == str:
        strings.append(i)
        
print(booleans)
print(floats)

print(string)

[True, False]
[19.5, 88.0, 4.12]
['meka', 'owen']

In [117]:
a = [i for i in range(1, 39)]
for num in a:
    if(num % 2) == 0:
        print(num, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38